<h4 class="text-center" id="timeline">Chronologie unserer Aktivitäten zur Nachhaltigen Entwicklung</h4>
<div class="row clearfix show-for-large-up">
  <div class="large-6 columns">
    <h5 class="timeline-location">Zentralkalimantan</h5>
  </div>
  <div class="large-6 columns">
    <h5 class="timeline-location">Ostkalimantan</h5>
  </div>
</div>
<div class="section-content dark clearfix" id="cd-timeline">
{% for year in site.data.dates %}
<div class="cd-year-block">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img"><span class="year">{{year.year}}</span></div>
    <div class="cd-timeline-content empty"></div>
  </div>
</div>
{% for event in year.events %}
<div class="cd-timeline-block">
  <div class="cd-timeline-img dot"></div>
  <div class="cd-timeline-content {{event.location | downcase}}">
    <p class="hide-for-large location">{{event.location}}</p>
    <p>{{event.event}}</p>
  </div>
</div>
{% endfor %} {% endfor %}
</div>