<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ layout.bodyclass | default: 'page'}} {{ page.id | default: 'normal'}}">



  <div class="hide">`
  {% include svg.svg %}

  </div>

        {% include leaves.svg id="leaves" %}
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        {% include down %}
        {% include menu %}

  <script src="{{ '/js/foundation.min.js' | prepend: site.baseurl }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
  <script>
    $(document).foundation();
  </script>
  {% include google_analytics.html %}
  </body>

</html>
